ul {
  
  text-align: center;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(219, 75, 8);
  
}

li {
  float: left;
}

li a {
 
  display: block;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(228, 190, 147);
}

.active {
  background-color: #04AA6D;
}

.ayrac{
    border: none;
    border-top:3% solid #222;
    max-width: 250px;
    margin: 25px auto;
}
.cardfont>img:hover{
    opacity: 0.8;
}
.list-group{
    margin: 50px auto 0 auto;
    display: table;
   
    
}
.card-text{
    margin: 0 auto 0 auto;
    display: table; 
}
.cardlogo{
    background-color: rgb(189, 8, 8);
    margin: 50px auto 0 auto;
    display: table;
    
}
.list-group-item{
    background-color: lightgrey;  
}

.cardiletisim{
    max-width: 200px;
    height: auto;   
    margin: 0 auto 0 auto;
    display: table;
}
.hizmetlerimiz{
    background-color: lightgray;
}
.etkinlik-alanlari{
    background-color: lightgray;
}
.card{
    background-color: whitesmoke;
}
.containeriletisim {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    }
    #contact input[type="text"],
    #contact input[type="email"],
    #contact textarea,
    #contact button[type="submit"] {
    font: 500 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }
    #contact {
    background: #d84e0e;
    padding-right: 50px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
        .form-control{
        border: none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
        }
        #contact input[type="text"],
        #contact input[type="email"],
        #contact textarea {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        }
        
        #contact textarea {
        height: 120px;
        max-width: 100%;
        resize: none;
        }
        #contact button[type="submit"] {
          font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
        width: 100%;
        border: none;
        background: rgb(104, 121, 104);
        color: lightgrey;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
        }
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 220px;
          background-color: #d84e0e;
          color: white;
          text-align: center;
       }
       .container1{
        background-color: #d84e0e;
        padding: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        
       }
       
       .container2 {
        background-color: #d84e0e;
        padding: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
       }
       
       .container{
        background-color: #db6027;
       }
       .card-text{
        color: #d84e0e;
       }
       .yazi{
        margin-left:800px ;
        margin-right: 800px;
        text-align: center;
       }
       
       
       